<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="wrapper2">
        <h1>Are you sure you want to delete the following course?</h1>
        <div class="main">
            <div>
                <h2>Name:</h2>
                <h2>description:</h2>
            </div>
            <div class="detel">
                <p>{{delcourse.course_name}}</p>
                <p>{{delcourse.description}}</p>
            </div>
        </div>
        <div class="btns">
            </form>
            <form action="/" method="post" class="nobtn">
                {%csrf_token%}
                <button type="submit">no</button>
            </form>
            <form action="/delete/{{delcourse.id}}" method="post" class="yesbtn">
                {%csrf_token%}
                <button type="submit">yes! I want to delete this</button>

        </div>

    </div>
</body>

</html>