<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">    

</head>

<body>
    <div class="wrapper">
        <h1>Add a new course</h1>
        <form action="/addcourse" method="POST" class="form">
            {%csrf_token%}
            <label for="course_name">Name:</label>
            <input type="text" name="course_name">
            <label for="description">Description</label>
            <textarea name="description" cols="30" rows="10"></textarea>
            <div class="btn">
                <button type="submit">Add</button>
            </div>
        </form>
        <h2>Courses</h2>
        <table>
            <tr>
                <th>Course Name</th>
                <th>Description</th>
                <th>Date Added</th>
                <th>Actions</th>
            </tr>
            {%for course in courses%}
            <tr>
                <td>{{course.course_name}}</td>
                <td>{{course.description}}</td>
                <td>{{course.created_at}}</td>
                <td><a href="/rusure/{{course.id}}">remove</a></td>
            </tr>
            {%endfor%}
        </table>
    </div>
</body>
</html>